/* Profile colors */
$gray1: #fafbff;
$gray2: #f0f1f4;
$gray3: #e6e8eb;
$gray4: #F0F1F4;
$gray5: #F0F1F4;

$white1: #fdfdfd;

$dark-gray1: #303030;
$dark-gray2: #7a7a7a;
$dark-gray3: #979797;


$dark-blue1: #647088;

/*Background colors*/
$primary-background-color: $gray3;
$secondary-background-color: $gray1;
$third-background-color: $gray2;

/*Icons*/
$icon-hightlight: #fdfdfd;

/*Borders*/
$border-primary-color: #b8b8b8;
$border-secondary-color: #ffffff;

/*Buttons*/
$primary-button-background-color: $dark-blue1;
$primary-button-foreground-color: $gray2;
$secondary-button-background-color: $gray2;
$secondary-button-foreground-color: $dark-gray2;
$tertiary-button-background-color: $white1;
$tertiary-button-foreground-color: $dark-gray2;

/*Text*/
$default-text-color: $dark-gray1;
$dialog-heading-color: #fdfdfd;
$link-color: $dark-blue1;
$place-holder-color: $dark-gray2;
$sub-heading-color: #358a99;

/* Color scale used for participants */
$pink: #d798bf;
$teal: #358a99;
$blue: #a1dee9;
$green: #a9dc92;
$yellow: #f3ec7a;
$orange: #fbc34e;
$lime: #dedd3a;
$red: #993535;

$error-color: #F36663;