//Reusable scss
@import 'colors';

@mixin dot($color, $size : sm) {
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
    padding: 0;

    @if $size == xs {
        height: 16px;
        width: 16px;
    }
    
    @if $size == sm {
        height: 25px;
        width: 25px;
    }
    @else if $size == md {
        height: 40px;
        width: 40px;
    }
    @else if $size == lg {
        height: 50px;
        width: 50px;
    }
}

$blobColors: (1:$blue, 2:$green, 3:$lime, 4:$yellow, 5:$orange, 6:$teal);

@mixin color-dots($size: sm) {
    @each $count,$color in $blobColors {
        .blob {
            &.color#{$count} {
                @include dot($color, 'sm');
            }
        }
    }    
}